* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #111;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}

img {
    width: 320px;

}

a {
   text-decoration: none;
   background-color: rgb(209, 124, 124);
   padding: 15px;
   color: #000;
   border-radius: 100px;
   font-size: 16px;
}